<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		<header class="header">
			<a href="index.html" class="header__logo">
				<img src="img/logo.svg" alt="">
			</a>
		</header>
		<main class="main">

			<div class="block-banner">
				<div class="container">
					<img src="img/banner1.webp" alt="">
				</div>
			</div>

			<div class="block-filter">
				<div class="container">
					<div class="block-filter__nav">
						<button data-filter="all" type="button" class="block-filter__title active">
							<span>Все</span>
						</button>
						<button data-filter="filter1" type="button" class="block-filter__title">
							<span>Романтика</span>
						</button>
						<button data-filter="filter2" type="button" class="block-filter__title">
							<span>Любовная история</span>
						</button>
						<button data-filter="filter3" type="button" class="block-filter__title">
							<span>Предательстов</span>
						</button>
					</div>
					<div class="block-filter__body">
						<a data-filter="filter1" href="page.html" class="block-filter__column">
							<div class="block-filter__image">
								<img loading="lazy" src="img/image1.webp" alt="" class="block-filter__pic1">
							</div>
							<div class="block-filter__item">
								<div class="block-filter__name">
									Девушка под дождем и еще довольно длительно под дождем и еще довольно дли...
								</div>
								<div class="block-filter__bottom">
									<div class="block-filter__icon">
										<img loading="lazy" src="img/eye.svg" alt="">
										<span>2400</span>
									</div>
									<div class="block-filter__icon">
										<img loading="lazy" src="img/star.svg" alt="">
										<span>(4.0)</span>
									</div>
								</div>
							</div>
						</a>
						<a data-filter="filter2" href="page.html" class="block-filter__column">
							<div class="block-filter__image">
								<img loading="lazy" src="img/image1.webp" alt="" class="block-filter__pic1">
							</div>
							<div class="block-filter__item">
								<div class="block-filter__name">
									Девушка под дождем и еще довольно длительно под дождем и еще довольно дли...
								</div>
								<div class="block-filter__bottom">
									<div class="block-filter__icon">
										<img loading="lazy" src="img/eye.svg" alt="">
										<span>2400</span>
									</div>
									<div class="block-filter__icon">
										<img loading="lazy" src="img/star.svg" alt="">
										<span>(4.0)</span>
									</div>
								</div>
							</div>
						</a>
						<a data-filter="filter3" href="page.html" class="block-filter__column block">
							<div class="block-filter__image">
								<img loading="lazy" src="img/image1.webp" alt="" class="block-filter__pic1">
								<img loading="lazy" src="img/block.svg" alt="" class="block-filter__pic2">
							</div>
							<div class="block-filter__item">
								<div class="block-filter__name">
									Девушка под дождем и еще довольно длительно под дождем и еще довольно дли...
								</div>
								<div class="block-filter__bottom">
									<div class="block-filter__icon">
										<img loading="lazy" src="img/eye.svg" alt="">
										<span>2400</span>
									</div>
									<div class="block-filter__icon">
										<img loading="lazy" src="img/star.svg" alt="">
										<span>(4.0)</span>
									</div>
								</div>
							</div>
						</a>
						<a data-filter="filter3" href="page.html" class="block-filter__column">
							<div class="block-filter__image">
								<img loading="lazy" src="img/image1.webp" alt="" class="block-filter__pic1">
							</div>
							<div class="block-filter__item">
								<div class="block-filter__name">
									Девушка под дождем и еще довольно длительно под дождем и еще довольно дли...
								</div>
								<div class="block-filter__bottom">
									<div class="block-filter__icon">
										<img loading="lazy" src="img/eye.svg" alt="">
										<span>2400</span>
									</div>
									<div class="block-filter__icon">
										<img loading="lazy" src="img/star.svg" alt="">
										<span>(4.0)</span>
									</div>
								</div>
							</div>
						</a>
						<a data-filter="filter2" href="page.html" class="block-filter__column">
							<div class="block-filter__image">
								<img loading="lazy" src="img/image1.webp" alt="" class="block-filter__pic1">
							</div>
							<div class="block-filter__item">
								<div class="block-filter__name">
									Девушка под дождем и еще довольно длительно под дождем и еще довольно дли...
								</div>
								<div class="block-filter__bottom">
									<div class="block-filter__icon">
										<img loading="lazy" src="img/eye.svg" alt="">
										<span>2400</span>
									</div>
									<div class="block-filter__icon">
										<img loading="lazy" src="img/star.svg" alt="">
										<span>(4.0)</span>
									</div>
								</div>
							</div>
						</a>
						<a data-filter="filter1" href="page.html" class="block-filter__column block">
							<div class="block-filter__image">
								<img loading="lazy" src="img/image1.webp" alt="" class="block-filter__pic1">
								<img loading="lazy" src="img/block.svg" alt="" class="block-filter__pic2">
							</div>
							<div class="block-filter__item">
								<div class="block-filter__name">
									Девушка под дождем и еще довольно длительно под дождем и еще довольно дли...
								</div>
								<div class="block-filter__bottom">
									<div class="block-filter__icon">
										<img loading="lazy" src="img/eye.svg" alt="">
										<span>2400</span>
									</div>
									<div class="block-filter__icon">
										<img loading="lazy" src="img/star.svg" alt="">
										<span>(4.0)</span>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

		</main>
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>