.block-banner {
    padding: 24px 0px;

    // .block-banner__bg1

    &__bg1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
        border-radius: 16px;
    }

    // .block-banner__bg2

    &__bg2 {
        position: absolute;
        top: -8px;
        right: 20px;
        height: calc(100% + 8px);
        width: auto;
        @media (max-width: 350px) {
            right: 0px;
        }
    }

    // .block-banner__content

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 169px;
        padding: 16px 24px 14px 24px;
        .btn {
            margin-top: auto;
            position: relative;
            z-index: 10;
            background: #fff;
            width: 100%;
            border-radius: 48px;
            min-height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #000;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }

    // .block-banner__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
        z-index: 10;
        max-width: 200px;
        margin: 0px 0px 12px 0px;
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    // .block-banner__title

    &__title {
        font-weight: 587;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
    }
}

.block-filter {
    padding: 0px 0px 24px 0px;
    // .block-filter__nav

    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 0px 0px 24px 0px;
        @media (max-width: 500px) {
            margin: 0px -16px 24px -16px;
            padding: 0px 16px;
            width: calc(100% + 32px);
            flex-wrap: nowrap;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    // .block-filter__title

    &__title {
        border-radius: 40px;
        padding: 4px 12px;
        background: #fff;
        white-space: nowrap;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: var(--theme-color-accent);
        &.active {
            color: var(--theme-color-text-common);
        }
    }

    // .block-filter__body

    &__body {
        display: grid;
        gap: 16px 11px;
        grid-template-columns: repeat(2, 1fr);
        a {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    // .block-filter__column

    &__column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 16px;
        padding: 8px;
        background: #fff;
        transition: opacity 0.3s;
        &.hide {
            display: none;
        }
        &.block {
            pointer-events: none;
            .block-filter__pic1 {
                filter: blur(8px);
            }
        }
    }

    // .block-filter__pic2

    &__pic2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        z-index: 10;
    }

    // .block-filter__image

    &__image {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        height: 190px;
    }

    // .block-filter__pic1

    &__pic1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .block-filter__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .block-filter__name

    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    // .block-filter__bottom

    &__bottom {
        display: grid;
        gap: 10px 16px;
        grid-template-columns: repeat(2, 1fr);
    }

    // .block-filter__icon

    &__icon {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #7a7a7a;
        img {
            width: 16px;
            height: 16px;
        }
    }
}

.block-images {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;
        height: auto;
    }
}
