@font-face {
    font-family: TTHovesProTrial;
    src: url("../fonts/TTHovesProTrial-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: TTHovesProTrial;
    src: url("../fonts/TTHovesProTrial-DemiBold.woff2") format("woff2");
    font-weight: 587;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: TTHovesProTrial;
    src: url("../fonts/TTHovesProTrial-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: TTHovesProTrial;
    src: url("../fonts/TTHovesProTrial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
