.header {
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 20px 0 rgba(125, 125, 125, 0.05);
  background: #fff;
  min-height: 85px;
  transition:
    opacity 0.3s,
    border-radius 0.3s;
  .scroll & {
    opacity: 0;
    pointer-events: none;
  }
  &._header-scroll {
    border-radius: 0px;
  }
  @media (max-width: 768px) {
    min-height: 60px;
    box-shadow: none;
  }
  @media (max-width: 500px) {
    border-radius: 0px;
  }
  // .header__logo

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 24px;
      width: auto;
      @media (max-width: 768px) {
        height: 12px;
      }
    }
  }
  // .header__text

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
