:root {
  --container-width: 1326px;
  --container-padding: 30px;
  --theme-color-accent: #a6a6a6;
  --theme-color-text-common: #121212;

  --font-family: "FuturaNew", sans-serif;
  --second-family: "Jost", sans-serif;
}
